<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body class="container">
    <header><%- include('partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <table>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Action</th>
          <tbody>
            <% for (const product of items) { %>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= product.description %></td>
              <td>
                <a href="/addToCart?id=<%= product.id %>">Add To Cart</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <footer><%- include('partials/footer'); %></footer>
  </body>
</html>
